* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f9fafb;
  font-family: "lucida sans", sans-serif;
  font-size: 16px;
  color: #5b5b5b;
  margin: 0;
}

a{
  text-decoration: none;
  color: #2196f3;
}

.main {
  width: 80%;
  margin: 0 auto;
  padding: 30px 15px;
}

@media only screen and (max-width: 480px) {
  .main {
    width: 100%;
    padding: 20px 10px;
  }
}

form {
  position: relative;
  height: 40px;
  line-height: 40px;
}

input[name="search"] {
  width: 99%;
  height: 42px;
  font-size: 1.1em;
  vertical-align: middle;
  padding: 5px 10px;
  color: #5b5b5b;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

input[name="search"]:focus {
  outline: 0;
  border: 1px solid #328cca;
}

button {
  position: absolute;
  right: 0;
  height: 42px;
  background-image: -webkit-linear-gradient(top, #2c7cd2, #2196f3);
  vertical-align: middle;
  font-size: 1.2em;
  color: #ffffff;
  padding: 5px 15px;
  margin-left: -5px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.song-cards {
  margin-top: 25px;
}

.song-card {
  display: flex;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 1px 1px 5px #d5d5d5;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.song-card .info .main-info {
  height: 85%;
}

.artists {
  font-size: 14px;
}

.server {
  font-size: 12px;
  font-weight: 700;
}

/*
1. http://www.vikaskbh.com/how-to-style-html-form-fields-using-css-3-linear-gradient-function/
2. https://www.mageewp.com/style-your-wordpress-themes-comment-form.html
3. https://stackoverflow.com/questions/3997983/how-to-vertically-align-2-different-sizes-of-text
*/
